@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

body{
    text-align: center;
}

.Title{
    background: url(../images/title_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 1rem 0;
    font-size: 100%;    
}

.Title h1{
    margin: 10rem 1rem 0;
}

.Title h4{
    margin-bottom: 10rem;
}

.Page_1{
    background: url(../images/singapore_flag.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 1rem 0;
    font-size: 100%;  
}

.Page_1 p{
    margin: 10rem 1rem;
}





