html, body
{
width: 100%;
overflow-x: hidden;
/*font-size: 80%; --> when mobile*/
}

body .img{
    min-height: 100%;
}

@media only screen and (min-width: 1500px) {
    p {
      padding: 0 30%;
    }
    h6 {
        padding: 0 30%;
      }
}

.fade-in {
    animation: fadeIn linear 1s;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.Title{
    height: 100vh;
    background: url(../images/isaac-matthew-66h9h7gXotA-unsplash-min.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 1rem 0;
    font-size: 100%;    
}

@media only screen and (min-width: 768px) {
    .Title{
        height: 100vh;
        background: url(../images/isaac-matthew-5x8hH2c07Ao-unsplash-min.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        padding: 1rem 0;
        font-size: 100%;   
    }
}

.Title h1{
    margin-top: 10vh;
}

img{
    margin: 0 auto;
    width: 5%;
    max-width: 35px;
    min-width: 15px;
    display: block;
}

.Page_1{
    background: url(../images/bg_2.jpg) no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    color: white;
    padding: 1rem 0;
    font-size: 100%;  
    text-align: center;
    padding: 50vh 10%;
    margin: 10% 10% 0;
}

.Page_1 p{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    padding: 20px;
    font-size: 16px;
}

.Page_1 .number{
    font-size: 1.5rem;
}

.Page_2{
    margin: 2rem;
    font-size: 100%;
    text-align: center;
}

.Page_2 h3{
    font-size: large;
}

.choices a{
    text-decoration: none;
    color: white;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: .5rem 0 2rem;
}

.chart_div{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1000px;
}

.button-24:hover, .button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742; 
}

.button-24:active {
  opacity: .5;
}

#answers{
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
}

#info_p2{
    color: white;
    background-color: #FF4742;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 20%;
    min-width: 200px;
    margin: 2rem auto;
}

.icon{
    width: 100%;
    min-width: 50px;
    max-width: 150px;
    height: auto;
    margin: -25px auto 0;
}

.transition{
    background-image: url(../Images/peter-nguyen-CQhgno3yhv8-unsplash.jpg); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    color: white;
    padding: 50vh 2rem;
}