@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 1rem;
}

h1{
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}

#chartContainer{
    margin-top: 1.5rem;
}