html, body
{
width: 100%;
overflow-x: hidden;
}

#padding{
    padding: 0 3rem;
}
.Page_3 h3{
    margin-top: 3rem;
}
.piechart{
    display: inline-block;
    margin: 0 auto;
}

.Page_4{
    background-color: #FF4742;
    color: white;
    padding: 0 10%;
}

.Page_4 h2{
    padding: 3rem 0;
}
.Page_4 p{
    padding: 2rem 0;
}

@media only screen and (min-width: 1500px) {
    .Page_4 p{  
        max-width: 800px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1500px) {
    .Page_4 .left{
        padding-right: 40%;
        float: left;
        text-align: right;
    }
    .Page_4 .right{
        padding-left: 40%;
        float: right;
        text-align: left;
    }
}

@media only screen and (max-width: 790px){
    .Page_4 .left{
        padding-right: 1rem;
        float: left;
        text-align: center;
    }
    .Page_4 .right{
        padding-left: 1rem;
        float: right;
        text-align: center;
    }
}

.Page_4 a{
    color: white;
}
.Page_4 .Page_5 #icon{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.Page_4 #arrow{
    margin: 0 auto;
    padding: 1rem 0;
    width: 25px;
    display: block;
}

.transition_2{
    background-image: url(../Images/max-oh-6LPoSHeTVws-unsplash.jpg); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    color: white;
    padding: 25vh 2rem;
    
}

.Page_5{
    background-color: #FF4742;
    color: white;
    padding: 1rem 10%;
}
.Page_5 h3{
    padding: 1rem 0;
}
.Page_5 p{
    padding: 2rem 0 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.section3{
    padding: 1rem 10%;
}
.section3 .closing p{
    margin: 1.5rem;
}

.section3 .closing h2{
    margin-top: 1.5rem;
}

.section3 .closing a{
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    color: black;
    font-size: 80%;
}